
/* MAIN */

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 70px;
}

.text {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 40px;
}

.text > p {
    text-align: justify;
    color: white;
}

@media only screen and (min-width: 768px) {
    /* DESKTOP */
    .text {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
}