
/* MAIN */

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 70px;
}

.text {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 40px;
}

.text > p {
    text-align: justify;
    color: white;
}

@media only screen and (min-width: 768px) {
    /* DESKTOP */
    .text {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
}


/* FOOTER */

footer {
    display: flex;
    align-items: center;
    background-color: #0d0d0d;
    height: 15.4vh;
}

footer > h1 {
    font-size: 18px;
    color: #757575;
    padding: 55px
}

.list {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.socialsbut {
    display: flex;
    align-items: center;
}

.socialsimg {
    width: 30px;
}

@media only screen and (min-width: 768px) {
    /* DESKTOP */

    .socialsbut {
        display: flex;
        align-items: center;
    }

    .socialsimg {
        width: 30px;
        padding-right: 15px;
        filter: invert(50%) sepia(0%) saturate(38%) hue-rotate(176deg) brightness(91%) contrast(93%);
    }

    .list {
        list-style: none;
        display: flex;
    }
    
    .email {
        margin-top: 3px;
    }

    footer > h1 {
        font-size: 18px;
        color: #757575;
        padding: 55px
    }
    
}
