/* CONTENT */

.content {
    display: flex;
    justify-content: center;
}

.hello {
    padding-top: 20px;
    background-image: url("../public/ceep.jpg");
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
}

.title {
    justify-content: center;
    display: flex;
}

.ttitle {
    color: white;
}

.title_lg {
    width: 170px;
    pointer-events: none;
}

.buttonsT {
    display: flex;
    justify-content: center;
}

.buttonsL {
    display: flex;
    justify-content: center;
}

.bcur {
    margin-right: 15px;
    padding: 15px;
    background-color: #E31C25;
    border-radius: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: white
}

.learn {
    width: 30px;
    padding-right: 5px;
    padding-top: 2px;
}

.bcur:hover {
    background-color: #c7161f;
}

.beve {
    margin-right: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.beve:hover {
    background-color: rgb(208, 208, 208);
}

.event {
    width: 30px;
    padding-right: 5px;
}

/* SUBCONTENT */

.subcontent {
    padding-top: 20px;
}

.profs {
    display: flex;
}

.cardtable {
    justify-content: center;
}

.prtitle {
    color: white;
    font-size: 25px;
}

.prstitle {
    display: flex;
    justify-content: center;
    margin: 16px;
    margin-bottom: 50px;
}

.cards {
    justify-content: center;
}

.card {
    background-color: #272727;
    display: flex;
    padding: 15px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    width: 300px;
    transition: transform 0.3s ease;
}



@media only screen and (min-width: 768px) {
    /* DESKTOP */
    .card:hover {
        transform: scale(1.1);
    }

    .card {
        background-color: #272727;
        display: flex;
        padding: 15px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 15px;
        width: 350px;
        transition: transform 0.3s ease;
    }
    .prstitle {
        display: flex;
        justify-content: center;
        margin: 16px;
    }
    .subcontent {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        width: 100%;
    }

    .cardtable {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cards {
        display: flex;
        justify-content: center;
    }
}



.cardimg {
    width: 100px;
    border-radius: 20px;
    padding: 5px;
    pointer-events: none;
}

.cardtitle {
    color: white;
    padding-left: 5px;
    padding-bottom: 5px;
}

.carddesc {
    color: white;
    padding-left: 5px;
    padding-bottom: 5px;
}